n8n-workflows/escalation-router.json
{
  "name": "Sericia · Escalation Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sericia-escalation",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook: /sericia-escalation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sericia-escalation"
    },
    {
      "parameters": {
        "jsCode": "const t = $json.body?.type ?? $json.type ?? 'unknown';\nconst msg = $json.body?.message ?? JSON.stringify($json.body ?? $json).slice(0, 500);\nlet priority = 'P2';\nif (t === 'refund') priority = 'P0';\nelse if (t === 'dify-fallback') priority = 'P1';\nelse if (t === 'contact' && /urgent|refund|broken|wrong|ruin/i.test(msg)) priority = 'P1';\nreturn [{ json: { ...$json.body, priority, _type: t, _msg: msg } }];"
      },
      "id": "classify",
      "name": "Classify Priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "channel": "C0A9SPSTL4X",
        "text": "=🚨 *[{{$json.priority}}] {{$json._type}}*\\n{{$json.name ? `From: ${$json.name} <${$json.email}>` : ''}}\\n\\n{{$json._msg}}",
        "otherOptions": {
          "attachments": {
            "values": [
              {
                "color": "={{$json.priority === 'P0' ? '#c0392b' : $json.priority === 'P1' ? '#e67e22' : '#3498db'}}",
                "fields": {
                  "values": [
                    { "title": "Type", "value": "={{$json._type}}", "short": true },
                    { "title": "Priority", "value": "={{$json.priority}}", "short": true }
                  ]
                }
              }
            ]
          }
        }
      },
      "id": "slack",
      "name": "Slack: #all-paradigm",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook: /sericia-escalation": { "main": [[{ "node": "Classify Priority", "type": "main", "index": 0 }]] },
    "Classify Priority": { "main": [[{ "node": "Slack: #all-paradigm", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "sericia" }]
}
