n8n-workflows/welcome-email.json
{
  "name": "Sericia — Welcome Email (Supabase signup trigger)",
  "notes": "Webhook triggered by Supabase auth.signup (configured in Supabase Auth → Webhooks). Sends a warm onboarding email + seeds a 10% first-drop discount code via Medusa admin API. Single-touch for launch; expand to a 3-email sequence post-launch.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sericia-welcome",
        "responseMode": "onReceived",
        "options": { "noResponseBody": true }
      },
      "id": "webhook",
      "name": "Supabase signup webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Supabase sends { type: 'INSERT', record: { id, email, ... } }\nconst record = $input.first().json.record;\nif (!record || !record.email) return [];\nreturn [{ json: {\n  email: record.email,\n  first_name: (record.raw_user_meta_data?.full_name || record.email.split('@')[0]).split(' ')[0],\n  discount_code: 'WELCOME10-' + record.id.slice(0,8).toUpperCase(),\n  user_id: record.id\n} }];"
      },
      "id": "parse-signup",
      "name": "Parse signup payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "jsonBody": "={\n  \"from\": \"Sericia <contact@sericia.com>\",\n  \"to\": $json.email,\n  \"subject\": \"Welcome to Sericia — 10% off your first drop\",\n  \"html\": `<div style=\\\"font-family:Georgia,serif;max-width:560px;margin:0 auto;color:#2b221c\\\"><h1 style=\\\"font-weight:normal\\\">Welcome, ${$json.first_name}.</h1><p>You just joined a short list of people who hunt for Japanese craft food the way you do — close to the producer, close to the soil, close to the season.</p><p>Every drop is a limited run: when it's gone, it's gone. We ship within 48 hours by EMS from Japan, tracked end-to-end.</p><p style=\\\"margin:28px 0\\\">As a thank-you, here's 10% off your first drop: <code style=\\\"background:#f5f1e8;padding:6px 12px;border-radius:4px;font-size:15px\\\">${$json.discount_code}</code></p><p style=\\\"margin-top:28px\\\"><a href=\\\"https://sericia.com/products\\\" style=\\\"background:#b8860b;color:white;padding:12px 28px;text-decoration:none;border-radius:4px\\\">Browse current drops →</a></p><p style=\\\"color:#6b5e4f;font-size:13px;margin-top:40px\\\">We reply within 24h (JST). — <a href=\\\"mailto:contact@sericia.com\\\">contact@sericia.com</a></p></div>`\n}",
        "options": { "timeout": 15000 }
      },
      "id": "send-resend",
      "name": "Send welcome email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "jsonBody": "={\n  \"text\": `👋 New Sericia signup — ${$json.email}`,\n  \"blocks\": [\n    { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": `*👋 New Sericia signup*\\n${$json.email}\\nDiscount code: \\`${$json.discount_code}\\`` } }\n  ]\n}",
        "options": { "timeout": 5000 }
      },
      "id": "slack-notify",
      "name": "Slack signup bell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Supabase signup webhook": { "main": [[{ "node": "Parse signup payload", "type": "main", "index": 0 }]] },
    "Parse signup payload": { "main": [[{ "node": "Send welcome email", "type": "main", "index": 0 }]] },
    "Send welcome email": { "main": [[{ "node": "Slack signup bell", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
